<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>FEINOXCOL</title>
	<link href="home.component.css" />	
</head>
<body>
	<header class="st-header st-fullHeight">
		<div class="header-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center st-header-content">
					<div class="logo"><a href="images/BannerManguera.jpg"><img src="" alt=""></a>
					</div>
					<div class="st-header-title">
						<h2>Bienvenido a <span>FEINOXCOL S.A.S</span></h2>
						<p class="cursiv">Empresa dedicada a la fabricación y comercialización de productos para la industra,<br/>ensambles de mangueras, fabricación de ferrules inoxidables, en latón y aluminio, y piezas especiales.</p>
					</div>
				</div>
			</div>
		</div>
	</header>	
	<section id="service" class="service-icons">
	</section>	
	<section class="subscribe">
		<div class="color-overlay"></div>
		<div class="container">
			<div class="row">					
					<section id="service" class="service-icons">
						<div class="container">
							<div class="row">
								<div class="col-sm-4 st-service-box">
									<span><i class="fa fa-cogs"></i></span>
									<h3 class="text-uppercase">Nuestros Productos</h3>
									<p class="cursiv">Se vende ferrul latón desde 3/16 hastas 12 pulgadas en diferentes materiales; como en latón, aluminio y en acero inoxidable,también capsula R115 en aluminio desde 1/8 hasta 3/4.</p>
									<!--<a href="/NuestrosProductos">More info</a>-->
								</div>
				
								<div class="col-sm-4 st-service-box">
									<span><i class="fa fa-life-ring"></i></span>
									<h3 class="text-uppercase">Servicios y Mantenimiento</h3>
									<p class="cursiv">Se realiza todo tipo de ensamble de mangueras de alta y baja presión desde 1/4 hasta 3 pulgadas, tambien se realiza toda clase de piezas especiales para la industria.</p>
									<!--<a href="/Servicios">More info</a>-->
								</div>
				
								<div class="col-sm-4 st-service-box">
									<span><i class="fa fa-weixin"></i></span>
									<h3 class="text-uppercase">Acerca de Nostros</h3>
									<p class="cursiv">Nuestra empresa esta dedicada a la fabrica de productos de la industria minera, con una gran variedad de manufactura para el servicio de nuestros clientes a nivel nacional, donde tendran un servicio de alta calidad no solo en la mercancía si no tambien en el servicio al cliente especializado.</p>
									<!--<a href="/AcercaNosotros">More info</a>-->
								</div>
							</div>
						</div>
					</section>					
					<!--
					<div class="st-subscribe-title text-center">
						<h3>Subscribe to our newsletter</h3>
						<p>No spam promise - only our latest news and freebies!</p>
					</div>
					<form id="subscribe">
						<input type="email" value="" name="subscribe-email" id="st-email" placeholder="Enter your e-mail">
						<input type="submit" name="subscribe-submit" value="Subscribe">
						<label for="st-email" class="st-subscribe-message"></label>
					</form>
					-->				
			</div>
		</div>
	</section>
	<section class="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 contact-info">
					<h2 class="contact-title text-uppercase">Contátenos</h2>
					<p class="contact-content">Para mayor información nos puede contactar con los siguientes datos suministrados.</p>
					<p class="st-address"><i class="fa fa-map-marker"></i> <strong>Cra 58 # 17-49</strong></p>
					<!--<p class="st-phone"><i class="fa fa-mobile"></i> <strong>(601) 365 1131</strong></p>-->
					<p class="st-phone"><i class="fa fa-mobile"></i> <strong>300 743 9606-320 998 3944</strong></p>
					<p class="st-email"><i class="fa fa-envelope-o"></i> <strong>feinoxcol@gmail.com</strong></p>
					<!--<p class="st-website"><i class="fa fa-globe"></i> <strong>www.yourdomain.com</strong></p>-->
				</div>

				<div class="col-sm-6 contact-form">
					<div class="st-contact-message">
					</div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.781798596445!2d-74.11145172592815!3d4.632978242242837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9be47d08f12d%3A0xa44f998dafb9449d!2sCl.%2017%20%2357-12%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1700510011060!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>				
				<!--
				<div class="col-sm-6 contact-form">
					<div class="st-contact-message">
					</div>
					<form id="" name="contact-form" method="post" action="" >
						<input type="text" name="name" required="required" id="contact-name" placeholder="Your Name">
						<input type="email" name="email" required="required" id="contact-email" placeholder="Your Email">
						<textarea placeholder="Massage" name="message" required="required" id="contact-message" cols="70" rows="6"></textarea>
						<input type="submit" value="Send message" name="contact-submit">
					</form>
				</div>
				-->
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6 social-icons">
					<!--<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-google-plus"></i></a>
					<a href=""><i class="fa fa-pinterest-p"></i></a>-->
				</div>
				<!-- /SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-pull-6 copyright">
					<p>&copy; 2024 <a href="">Feinoxcol S.A.S</a>. Todos los Derechos Reservados.</p>
				</div>
			</div>
		</div>
	</footer>
  <script type="text/javascript" src="/src/js/jquery.min.js"></script><!-- jQuery -->
	<script type="text/javascript" src="/src/js/bootstrap.min.js"></script><!-- Bootstrap -->
	<script type="text/javascript" src="/src/js/jquery.parallax.js"></script><!-- Parallax -->
	<script type="text/javascript" src="/src/js/smoothscroll.js"></script><!-- Smooth Scroll -->
	<script type="text/javascript" src="/src/js/scripts.js"></script><!-- Scripts -->
</body>
<router-outlet></router-outlet>
</html>
